.pagination {
  display: flex;
  align-items: center;

  gap: 2px;
}

.pagination button {
  display: flex;
  align-items: center;
  justify-content: center;

  padding: 1rem;
  font-size: 1rem;
  font-weight: 500;

  border: none;
  background: var(--dark-grey);

  cursor: pointer;
}

.pagination button.active {
  background: var(--active);
}

.pagination button:disabled {
  cursor: default;
}

.pagination button:not(:disabled):hover {
  background: var(--light-grey);
}

.pagination .previous {
  border-radius: 0.5rem;

  margin-right: 1rem;
}
.pagination .first {
  border-radius: 0.5rem 0 0 0.5rem;
}

.pagination .last {
  border-radius: 0 0.5rem 0.5rem 0;
}

.pagination .next {
  border-radius: 0.5rem;

  margin-left: 1rem;
}
