.history-list {
  width: 90%;

  display: flex;
  flex-direction: column;
  align-items: center;

  gap: 1rem;
}

.history-list .item {
  width: 100%;

  display: flex;
  justify-content: space-between;
  align-items: center;

  border: 1px solid white;
  border-radius: 0.5rem;

  padding: 2rem;

  font-size: 1.2rem;
}

.history-list .item div {
  display: flex;
  align-items: center;

  gap: 0.5rem;
}

.item-link {
  color: var(--link);
  text-decoration: underline;

  cursor: pointer;
}
