.card {
  max-width: 450px;

  display: flex;
  flex-direction: column;

  border-radius: 1rem;

  padding: 2rem;
  margin: 0 auto;

  background: linear-gradient(
    135deg,
    rgba(100, 149, 237, 0.1) 0%,
    rgba(255, 255, 255, 0.3) 25%,
    var(--primary) 50%,
    rgba(100, 149, 237, 0.3) 75%,
    rgba(255, 255, 255, 0.1) 100%
  );
}

.card-header {
  display: flex;
  align-items: start;
  justify-content: space-between;
}

.card-header .links {
  display: flex;
  align-items: center;

  margin-top: 0.5rem;
}

.card-header img {
  height: 96px;
  width: auto;

  border-radius: 50%;
}

.card-header .github-link {
  text-decoration: none;
  color: inherit;
}

.card-divider {
  margin-bottom: 3rem;
  margin-top: 3rem;

  height: 2px;

  border: none;
  background: rgba(255, 255, 255, 0.2);
}

.card-body {
  display: flex;
  flex-direction: column;

  gap: 1rem;
}

.card-body h3 {
  font-weight: 500;
  font-size: 1.2rem;

  display: flex;
  align-items: center;

  gap: 0.5rem;
}

.card-body div {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card-body button {
  display: flex;
  align-items: center;
  justify-content: center;

  border: none;
  border-radius: 0.3rem;
  background: var(--dark-grey);

  font-size: 1rem;

  padding: 0.7rem;

  cursor: pointer;
}

.card-body button:hover {
  background: var(--light-grey);
}

.row-span-2 {
  grid-row: span 2;
}

.col-span-2 {
  grid-column: span 2;
}
