.breadcrumbs {
  width: 100%;

  display: flex;
  align-items: center;

  gap: 0.5rem;

  color: var(--light-grey);
}

.breadcrumb {
  text-decoration: underline;
  color: white;

  cursor: pointer;
}

.breadcrumbs span:last-child {
  color: lightblue;
  font-size: 1.2rem;
}
