#root-nav {
  width: 10rem;
}

#root-nav ul {
  list-style: none;

  display: flex;
  align-items: center;
  justify-content: start;
}

.nav-link {
  font-size: 1.1rem;
  padding: 0.5rem;

  border-radius: 0 0 1rem 0;
  border: 1px solid rgba(255, 165, 0, 0.5);

  cursor: pointer;
}

.nav-link a {
  text-decoration: none;
  color: white;
}

.nav-link:hover {
  background: rgba(255, 165, 0, 0.5);
}
