.container {
  display: grid;
  grid-template-columns: repeat(6, 1fr);

  height: 100%;
}

.content-wrapper {
  grid-column: span 5;

  display: grid;
  grid-template-rows: auto auto 1fr;
}

.breadcrumbs-container {
  display: flex;
  align-items: center;

  height: 3rem;

  padding-left: 1rem;

  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.displayed-child {
}
