.container {
  display: grid;
  grid-template-columns: repeat(6, 1fr);

  height: 100%;
}

.content-wrapper {
  grid-column: span 5;

  display: grid;
  grid-template-rows: auto 1fr;
}

.displayed-child {
  display: flex;
  align-items: center;
  justify-content: center;
}
