.search-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;

  border-radius: 4rem;

  padding: 0.5rem;

  max-width: 50%;
  height: 64px;

  background: var(--dark-grey);
}

.search-bar input {
  padding: 1rem;

  font-size: 1rem;
  font-family: inherit;

  border: none;
  outline: none;
  border-radius: 0.5rem 0 0 0.5rem;

  background: transparent;
}

.search-bar input::placeholder {
  color: var(--light-grey);
}

.search-bar button {
  border: none;
  border-radius: 50%;

  width: 48px;
  height: 48px;

  background: var(--light-grey);

  cursor: pointer;
}

.search-bar button:focus {
  outline: none;
  border: 1px solid white;
}

.search-bar button:disabled {
  cursor: default;
  opacity: 0.6;
}

.search-bar button:not(:disabled):hover {
  background: var(--medium-dark-grey);
}
